.job-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.job-card {
  background-color: #d3fbf6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.job-card:hover {
  transform: translateY(-5px);
}

.job-image {
  width: 100%;
  border-radius: 10px;
}

.job-card-content {
  padding-top: 20px;
}

.apply-button {
  background-color:rgb(52, 250, 253);
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: transparent;
}